* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
  line-height: 1.5;
  background-color: #fdfeff;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

#root {
  width: 100%;
}

@media (max-width: 640px) {
  body {
    padding: 0;
    align-items: flex-start;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.App {
  min-height: 100vh;
  padding: 2rem;
}
